{% extends "cust/base.html" %}

{% block title %}
    <title>Customer</title>
{% endblock title %}

{% block content %}
<div>
    <header class="w3-container w3-black w3-center " style="padding:50px 16px">
        <h1 class="w3-margin w3-jumbo">Customer</h1>
      </header>

    <div class="w3-section w3-bottombar w3-padding-16  ">
        <a href="{% url 'home-page' %}" class="w3-button w3-black">UWEFLIX</a>
        <a href="{% url 'select_date' %}" class="w3-button w3-blue">Select date</a>
        
    </div>

</div>

<div class="w3-container w3-card w3-round">
<p>Showings for {{ selected_date }} :</p>
{% if data %}
    <table class="">
        <thead>
            <tr>
                <th scope="col">Images</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Film Title</th>
                <th scope="col">Trailer Description</th>
                <th scope="col">Age Rating</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}

                <tr>
                    <td scope="row">
                        <img style="height: 100px; width: auto;" src="{{ todos.name }}" class="card-img-top" alt="...">
                    </td>
                    <td>{{ i.Date }}</td>
                    <td>{{ i.Time }}</td>
                    <td>{{ i.Name }}</td>
                    <td>{{ i.TrailerDescription }}</td>
                    <td>{{ i.Rating }}</td>
                    <td>{{ i.Duration }}</td>
                    

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><center> Select a Movie</center></p>
                        <table class="">
                            {% comment %} <form action="{% url 'test' %}" method="get">
                                <label>Select:</label>
                                <input type="stringformat" name="data" id="data">
                                <br>
                                <button type="submit">View Data</button>
                            </form> {% endcomment %}
                            <form action="{% url 'ticket' %}" method="get"><center>
                                <select name="data" id="data">
                                    {% for movie in movies %}
                                    <option value="{{ movie.Name }}">{{ movie.Name }}</option>
                                    {% endfor %}
                                </select>
                                <p> </p>
                                <input class="w3-button w3-green button4" style="margin-right: 10px;" type="submit" value="Submit">
                            </center></form>
                        </table>
     <br>
    {% elif not data %}
    <h1 class="w3-margin"><center>There are no showings on the {{selected_date}}</center></h1>
    <p> </p>
    <a href="{% url 'select_date' %}"><center><button type="button" class="w3-button w3-red button4">Select another date</button></center></a>
    {% endif %}

    <br>
    


    <br>
</div>
{% endblock content %}