{% extends "cust/base.html" %}

{% block title %}
    <title>Customer</title>
{% endblock title %}

{% block content %}
<div>
    <header class="w3-container w3-black w3-center " style="padding:50px 16px">
        <h1 class="w3-margin w3-jumbo">Customer</h1>
      </header>

      <div class="w3-section w3-bottombar w3-padding-16  ">
        <a href="{% url 'home-page' %}" class="w3-button w3-black">UWEFLIX</a>
        <a href="/2/films_list" class="w3-button w3-white">View Movies</a>
        <a href="/2/select_date/" class="w3-button w3-white" >Book Tickets</a>
        <a href="{% url 'login'  %}" class="w3-button w3-blue w3-hide-small" >Login</a>
    </div>

</div>

<br>

<div class="w3-container w3-card w3-round">
    <table class="">
        <form action="{% url 'cust:view_data' %}" method="get">
            <p> </p>
            <label for="date">Select a date:  </label>
            <input type="date" name="date" id="date">
            <br>
            <p> </p>
            <button type="submit" class="w3-button w3-green button4" style="margin-right: 10px;"> Select</button>
        </form>
    <br>
    </table>
    


    <br>
</div>
{% endblock content %}