{% extends "cust/base.html" %}

{% block title %}
    <title>Customer</title>
{% endblock title %}

{% block content %}
<div>
    <header class="w3-container w3-black w3-center " style="padding:50px 16px">
        <h1 class="w3-margin w3-jumbo">Customer</h1>
      </header>

    <div class="w3-section w3-bottombar w3-padding-16  ">
        <a href="{% url 'home-page' %}" class="w3-button w3-black">UWEFLIX</a>
        <a href="{% url 'cust:selectdate' %}" class="w3-button w3-blue">Select date</a>
        
    </div>

</div>


<br>

<div class="w3-container w3-card w3-round">
    <p>Selected Movie: {{ selected_data }} </p>
    <table class="">
        <thead>
            <tr>
                <th scope="col">Images</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Film Title</th>
                <th scope="col">Trailer Description</th>
                <th scope="col">Age Rating</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for i in results %}

                <tr>
                    <td scope="row">
                        <img style="height: 100px; width: auto;" src="{{ todos.name }}" class="card-img-top" alt="...">
                    </td>
                    <td>{{ i.date }}</td>
                    <td>{{ i.showingTime }}</td>
                    <td>{{ i.filmTitle }}</td>
                    <td>{{ i.trailerDescription }}</td>
                    <td>{{ i.ageRating }}</td>
                    <td>{{ i.filmDuration }}</td>

                    
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <br>
    <table class="">
        <form action="{% url 'book_tickets' %}" method="get"><center>
            <label for="tickets">Number of tickets:  </label>
            <input type="number" name="tickets" id="tickets" min="1" max="10" value="1">
            <br>
            <p> </p>
            <button type="submit" class="w3-button w3-green button4" style="margin-right: 10px;"> Proceed to Booking</button>
        </center></form>
    {% comment %} </table>
        <table class="">
            <form method="post" action="{% url 'book_tickets' %}" method="get">
                {% csrf_token %}
                <br>
                <label for="tickets">Number of tickets:</label>
                <input type="number" name="tickets" id="tickets" min="1" max="10" value="1">
                <br>
                <input type="submit" value="Submit">
            </form>
        </table> {% endcomment %}
     <br>


    <br>
</div>
{% endblock content %}