{% extends 'base.html' %}

{% block title %}
    <title>Edit</title>
{% endblock title %}

{% block content %}

<div class="w3-container w3-margin w3-center"> 

    <form action="" method="POST" enctype="multipart/form-data">
        <div class=" w3-blue-grey w3-card w3-round w3-margin w3-padding"> 
            {% for i in club %}
            <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Enter Club Rep Information for {{ i.Name }}</h1>
            {% endfor %}
        {% csrf_token %}

        <label for="firstname">First Name:</label><br>
        <input type="text" name="firstname" id="firstname" value=""><br><br>

        <label for="lastname">Last Name:</label><br>
        <input type="text" name="lastname" id="lastname" value=""><br><br>

        <label for="dob">Date of Birth:</label><br>
        <input type="text" name="dob" id="dob" value=""><br><br>
        
        <a href="{% url 'clubs-list' %}"><button type="button" class="w3-button w3-red button4">Go back</button></a>
        
        <input type="submit" class="w3-button w3-green button4 w3-margin" value="Register">
        </div>
    </form>

</div>
{% endblock content %}