{% extends 'base.html' %}

{% block title %}
    <title>Edit</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Edit Club Information</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% for i in club %}
        {% csrf_token %}
        <label for="clubname">Club Name:</label><br>
        <input type="text" name="clubname" id="clubname" value="{{ i.Name }}"><br><br>

        <label for="city">city:</label><br>
        <input type="text" name="city" id="city" value="{{ i.City }}"><br><br>

        <label for="street">street:</label><br>
        <input type="text" name="street" id="street" value="{{ i.Street }}"><br><br>

        <label for="email">email:</label><br>
        <input type="text" name="email" id="email" value="{{ i.Email }}"><br><br>

        <label for="houseno">houseno:</label><br>
        <input type="text" name="houseno" id="houseno" value="{{ i.HouseNumber }}"><br><br>

        <label for="phoneno">phoneno:</label><br>
        <input type="text" name="phoneno" id="phoneno" value="{{ i.PhoneNumber }}"><br><br>

        <label for="postcode">postcode:</label><br>
        <input type="text" name="postcode" id="postcode" value="{{ i.PostCode }}"><br><br>

        <label for="telephoneno">telephoneno:</label><br>
        <input type="text" name="telephoneno" id="telephoneno" value="{{ i.TelephoneNumber }}"><br><br>

        <input type="submit" class="btn btn-success">
        {% endfor %}
    </form>
{% endblock content %}