{% extends 'base.html' %}

{% block title %}
    <title>Cinema Manager</title>
{% endblock title %}

{% block content %}
<div>
    <header class="w3-container w3-black w3-center " style="padding:50px 16px">
        <h1 class="w3-margin w3-jumbo">Cinema Manager</h1>
      </header>

    <div class="w3-section w3-bottombar w3-padding-16  ">
        <a href="{% url 'clubs-list' %}" class="w3-button w3-red">Clubs</a>
        <a href="screen/" class="w3-button w3-white" >Screen </a>
        <a href="#" class="w3-button w3-white w3-hide-small" >Film </a>
        
        <!-- Search section  -->
        <div class=" w3-right w3-col m2 w3-mobile ">
            <form action="{% url 'clubs-list' %}" method="GET" >
                <div class="">
                    <input type="text" class="" placeholder="Search by club or representative name" 
                    name="search_query" value="{{ search_query }}"/>
        
                    <input class="w3-button w3-green button4 " type="submit" value="Search"/>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- Search section  -->
<br>

<div class="w3-container w3-card w3-round">
    <table class="">
        <thead>
            <tr>
                <th scope="col">Images</th>
                <th scope="col">Club Name</th>
                <th scope="col">Address No.</th>
                <th scope="col">Address Street</th>
                <th scope="col">Address City</th>
                <th scope="col">Address Postcode</th>
                <th scope="col">Telephone No.</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Email</th>
                <th scope="col">Rep First Name</th>
                <th scope="col">Rep Last Name</th>
                <th scope="col">Rep DOB</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}

                <tr>
                    <th scope="row">
                        <img style="height: 100px; width: auto;" src="{{ todos.name }}" class="card-img-top" alt="...">
                    </th>
                    <th scope="row">{{ i.Name }}</th>
                    <td>{{ i.HouseNumber }}</td>
                    <td>{{ i.Street }}</td>
                    <td>{{ i.City }}</td>
                    <td>{{ i.PostCode }}</td>
                    <td>{{ i.TelephoneNumber }}</td>
                    <td>{{ i.PhoneNumber }}</td>
                    <td>{{ i.Email }}</td>
                    

                    <td>{{ i.club_reps.0.FirstName }}</td>
                    <td>{{ i.club_reps.0.LastName }}</td>
                    <td>{{ i.club_reps.0.DOB }}</td>
                    
                
            
                    
            
                    

                    <td>
                        {% load custom_filters %}
                        <a class="w3-button w3-green button4" style="margin-right: 30px;" href="{% url 'edit-club' i|get_id %}">Edit</a>
                        <br>
                        <a class="w3-button w3-red button4 " style="margin-right: 30px; margin-top: 7px;" href="{% url 'delete-club' i|get_id %}">Remove</a>
                        <br>
                        <a class="w3-button w3-green button4" style="margin-right: 30px; margin-top: 7px;" href="{% url 'register-club-rep' i|get_id %}">register-club-rep</a>
                    </td>

                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <div class="w3-center">
        <a href="{% url 'create-club' %}"><button type="button" class="w3-button w3-green button4">Add New Info</button></a>
    </div>
    <br>
</div>
{% endblock content %}