{% extends 'cinema_manager/base.html' %}

{% block title %}
    <title>Cinema Manager</title>
{% endblock title %}

{% block content %}
<div>
    <header class="w3-container w3-black w3-center " style="padding:50px 16px">
        <h1 class="w3-margin w3-jumbo">Cinema Manager</h1>
      </header>

    <div class="w3-section w3-bottombar w3-padding-16  ">
        <a href="{% url 'home-page' %}" class="w3-button w3-black">UWEFLIX</a>
        <a href="{% url 'clubs-list' %}" class="w3-button w3-blue">Clubs</a>
        <a href="{% url 'screens-list' %}" class="w3-button w3-white" >Screen </a>
        <a href="{% url 'films-list' %}" class="w3-button w3-white w3-hide-small" >Film </a>
        <a href="{% url 'showing-list' %}" class="w3-button w3-white" >Showing </a>
        <a href="{% url 'user-logout-cm'  %}" class="w3-button w3-white">Log Out</a>
        
        <!-- Search section  -->
        <div class=" w3-right w3-col m2 w3-mobile ">
            <form action="{% url 'clubs-list' %}" method="GET" >
                <div class="">
                    <input type="text" class="" placeholder="Search by club or representative name" 
                    name="search_query" value="{{ search_query }}"/>
        
                    <input class="w3-button w3-green button4 " type="submit" value="Search"/>
                </div>
            </form>
        </div>
    </div>

</div>

<br>

<div class="w3-container w3-card w3-round">
    <table class="">
        <thead>
            <tr>
                <th scope="col" class="w3-indigo">Club Name</th>
                <th scope="col" class="w3-indigo ">Address No.</th>
                <th scope="col" class="w3-indigo">Address Street</th>
                <th scope="col" class="w3-indigo">Address City</th>
                <th scope="col" class="w3-indigo">Address Postcode</th>
                <th scope="col" class="w3-indigo">Telephone No.</th>
                <th scope="col" class="w3-indigo">Phone No.</th>
                <th scope="col" class="w3-indigo">Email</th>
                <th scope="col" class="w3-indigo">Rep First Name</th>
                <th scope="col" class="w3-indigo">Rep Last Name</th>
                <th scope="col" class="w3-indigo">Rep DOB</th>
                <th scope="col" class="w3-indigo"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}

                <tr>
                    <th scope="row">{{ i.Name }}</th>
                    <td>{{ i.HouseNumber }}</td>
                    <td>{{ i.Street }}</td>
                    <td>{{ i.City }}</td>
                    <td>{{ i.PostCode }}</td>
                    <td>{{ i.TelephoneNumber }}</td>
                    <td>{{ i.PhoneNumber }}</td>
                    <td>{{ i.Email }}</td>
                    

                    <td>{{ i.club_reps.0.FirstName }}</td>
                    <td>{{ i.club_reps.0.LastName }}</td>
                    <td>{{ i.club_reps.0.DOB }}</td>
                    
                
            
                    
            
                    

                    <td>
                        {% load custom_filters %}
                        <a class="w3-button w3-green button4" style="margin-right: 30px;" href="{% url 'edit-club' i|get_id %}">Edit</a>
                        <br>
                        <a class="w3-button w3-red button4 " style="margin-right: 30px; margin-top: 7px;" href="{% url 'delete-club' i|get_id %}">Remove Club</a>
                        <br>

                        {% if i.club_reps.0.FirstName %}
                        <a class="w3-button w3-red button4" style="margin-right: 30px; margin-top: 7px;" href="{% url 'delete-club-rep' i.club_reps.0|get_id %}">Remove Club Rep</a>
                        {% elif not i.club_reps.0.FirstName %}
                        <a class="w3-button w3-green button4" style="margin-right: 30px; margin-top: 7px;" href="{% url 'register-club-rep' i|get_id %}">Register Club Rep</a>
         
      

                        {% endif %}
                    </td>

                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <div class="w3-center">
        <a href="{% url 'create-club' %}"><button type="button" class="w3-button w3-green button4">Add New Info</button></a>
    </div>
    <br>
</div>
{% endblock content %}