{% extends 'base.html' %}

{% block title %}
    <title>Cinema Manager</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Cinema Manager</h1>
    <a href="{% url 'clubs-list' %}" class="w3-hide-small w3-bar-item w3-button w3-mobile w3=-medium" style="margin-top:10px;">Clubs </a>

    <!-- Search section  -->
    <div class="center-form" style="display: flex; justify-content: center;">
        <form action="{% url 'clubs-list' %}" method="GET" style="width: 500px;">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search by club or representative name" aria-label="" aria-describedby="basic-addon1" style="margin-right: 10px;"
              name="search_query" value="{{ search_query }}"/>
    
              <input class="btn btn-success" type="submit" value="Search"/>
            </div>
        </form>
    </div>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Images</th>
                <th scope="col">Screen Name</th>
                <th scope="col">Seat Capacity</th>
                <th scope="col">Social Distancing</th>
            </tr>
        </thead>
        <tbody>
            {% for i in cursor %}
                <tr>
                    <th scope="row">
                        <img style="height: 100px; width: auto;" src="{{ todos.name }}" class="card-img-top" alt="...">
                    </th>
                    <th scope="row">{{ i.Name }}</th>
                    <td>{{ i.Capacity }}</td>
                    <td>
                        <!-- true and false are case sensitive -->
                        {% if i.SocialDistancing == True %}
                        On

                        {% elif i.SocialDistancing == False %}
                        Off

                        {% endif %}
                    </td>
              

                    <td>
                        {% load custom_filters %}
                        <a style="margin-right: 30px;" href="{% url 'edit-screen' i|get_id %}">Edit</a>
                        <a href="{% url 'delete-screen' i|get_id %}">Remove</a>
                    </td>

                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{% url 'create-screen' %}"><button type="button" class="btn btn-primary">Add New Info</button></a>
    </div>

{% endblock content %}