
{% extends 'accountmanager/base.html' %}

{% block title %}
    <title>Add New Account</title>
{% endblock title %}

{% block content %}
    <div class="w3-container w3-margin w3-center"> 
        {% if message is not None %}
        <p>{{ message }}</p>
        {% endif %}
    <form action="/3/accountManagerAddRecieved" method="POST" enctype="multipart/form-data">
        <div class=" w3-blue-grey w3-card w3-round w3-margin w3-padding"> 
            <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Add New Account</h1>
            {% csrf_token %}
            <label for="firstName">First Name/ Club Name:</label><br>
            <input type="text" name="firstName" placeholder="First Name/ Club Name" required/> <br>

            <label for="surname">Surname:</label><br>
            <input type="text" name="surname" placeholder="Surname" required/> <br>

            <label for="password">Password:</label><br>
            <input type="password" name="password" placeholder="Password" required/> <br>

            <label for="DOB">Date of Birth:</label><br>           
            <input type="text" name="DOB" placeholder="DD-MM-YYYY" pattern="[0-9]{2}[-][0-9]{2}[-][0-9]{4}" required/> <br>

            <label for="cardNumber">Card Number:</label><br>
            <input type="text" name="cardNumber" placeholder="Card Number" required maxlength="16" minlength="16" required/> <br>

            <label for="expiryDate">Expiry Date:</label><br>
            <input type="month" name="expiryDate" required/> <br>

            <label for="Type">Account Type:</label><br>
            <select name="Type" required>
                <option value="CUS">Customer</option>
                <option value="CR">Club Representative</option>
                <option value="AM">Account Manager</option>
                <option value="CM">Cinema Manager</option>
            </select>
            <br>

            <label for="discount">Discount Rate:</label><br>
            <input type="number" name="discount" placeholder="Discount Rate" required/> <br>
            <a href="{% url 'home' %}"><button type="button" class="w3-button w3-red button4">Go back</button></a>
            <input type="submit" class="w3-button w3-green button4 w3-margin" value="Save" />
        <br><br>
        </div> 
    </form>
</div>
{% endblock content %}