


{% extends 'accountmanager/base.html' %}

{% block title %}
<title>Edit Account</title>
{% endblock title %}

{% block content %}
    <div class="w3-container w3-margin w3-center"> 
        {% if message is not None %}
        <p>{{ message }}</p>
        {% endif %}
    <form action="/3/accountManagerEditRecieved" method="POST" enctype="multipart/form-data">
        <div class=" w3-blue-grey w3-card w3-round w3-margin w3-padding"> 
            <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Input Data</h1>
            {% csrf_token %}
            <label for="number">Account ID:</label><br>
            <input type="number" name="id" placeholder="Account ID" required/> <br>

            <label for="change">Select Option:</label><br>
            <select id="change" name="change" required>
                <option style="display:none"></option>
                <option disabled selected>--Select--</option>
                <option value="FirstName">Name</option>
                <option value="LastName">Surname</option>
                <option value="CardNumber">Card Number</option>
                <option value="ExpiryDate">Expiry Date</option>
                <option value="DiscountRate">Discount Rate</option>
            </select>
            <br>

            <label for="newData">New Data:</label><br>
            <input type="text" name="newData" placeholder="New Data" required/> <br>

            <a href="{% url 'home' %}"><button type="button" class="w3-button w3-red button4">Go back</button></a>
            <input type="submit" class="w3-button w3-green button4 w3-margin" value="Save" />
        <br><br>
        </div> 
    </form>
</div>
{% endblock content %}