{% extends 'accountmanager/base.html' %}

{% block title %}
<title>Delete Account</title>
{% endblock title %}

{% block content %}

<style>
body {
    font-family: helvetica;
    z-index: 1;
    background: linear-gradient(-45deg, #36090c, #db0021, #4d0008, #f70000);
    background-size: 400% 400%;
    width: 100%;
    height: 20%;
    animation: animate 15s ease infinite;
    text-align: center;        
    }
</style>

    <div class="w3-container w3-margin w3-center"> 
        {% if message is not None %}
        <p>{{ message }}</p>
        {% endif %}
    <form action="/3/accountManagerRemoveRecieved" method="POST" enctype="multipart/form-data">
        <div class=" w3-blue-grey w3-card w3-round w3-margin w3-padding"> 
            <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Select Account to be Removed</h1>
            {% csrf_token %}
            <label for="id">Account ID:</label><br>
            <input type="number" name="id" placeholder="Account ID" required/> <br>
            <a href="{% url 'home' %}"><button type="button" class="w3-button w3-red button4">Go back</button></a>
            <input type="submit" class="w3-button w3-green button4 w3-margin" value="Save" />
        <br><br>
        </div> 
        <h1 style="text-align: center; padding-top: 5em; padding-bottom: 1em;"></h1>
    </form>
</div>
{% endblock content %}