{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'CSS.css' %}">
        <title>All Users</title>
    </head>
    <body>
        {% block content %}
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Name</th> 
                <th>Surname</th>
                <th>Discount Rate</th>
                <th>Card Number</th>
                <th>Expiration Date</th>
            </tr>
            {% for array in my_list %}
            <tr>
                {% for x in array %}
                <td>{{ x }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endblock content %}
        </table>
        <a href='accountManagerAdd'>Add Account</a>
        <a href='accountManagerRemove'>Remove Account</a>
        <a href='accountManagerEdit'>Edit Account</a>
    </body>
</html>