{% extends 'base.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Home Page</h1>

    <br>
    <div class="w3-bar w3-white w3-text-black">
        <a href="1/" class="w3-hide-small w3-bar-item w3-button w3-mobile w3=-medium" style="margin-top:10px;">Cinema Manager</a>
        <a href="2/" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium" style="margin-top:10px;">Customer</a>
        <a href="3/" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium" style="margin-top:10px;">Account Manager</a>
        <a href="4/" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-medium" style="margin-top:10px;">Club Representative</a>
      </div>

   
{% endblock content %}