{% extends 'base.html' %}

{% block title %}
    <title>Cinema Manager</title>
{% endblock title %}

{% block content %}
<div>
    <header class="w3-container w3-black w3-center " style="padding:50px 16px">
        <h1 class="w3-margin w3-jumbo">Club Representative</h1>
        <h1 class="w3-margin w3-jumbo">Booking</h1>
    </header>
    <div class="w3-section w3-bottombar w3-padding-16  ">
        <a href="{% url 'home-page' %}" class="w3-button w3-black">UWEFLIX</a>
        <a href="{% url 'select-date-cr' %}" class="w3-button w3-black">Select Date </a>
        <a href="#" class="w3-button w3-black" >Showings </a>
        {% if film_name %}
        <a href="{% url 'view-film' film_name %}" class="w3-button w3-blue">Booking </a>
        {% endif %}


</div>

<div class="w3-container w3-card w3-round">
    
        <table class="">
            <thead>
                <tr>
                    <th scope="col">Images</th>
                    <th scope="col">Film Name</th>
                    <th scope="col">Age Rating</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Trailer Description</th>
                </tr>
            </thead>
            <tbody>
                {% for i in cursor %}
                    <tr>
                        <th scope="row">
                            <img style="height: 100px; width: auto;" src="{{ todos.name }}" class="card-img-top" alt="...">
                        </th>
                        <th scope="row">{{ i.Name }}</th>
                        <td>{{ i.Rating }}</td>
                        <td>{{ i.Duration }}</td>
                        <td>{{ i.TrailerDescription }}</td>

                       

                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <br>

    <div class="w3-center">

        <table class="">
            <form action="" method="POST">
                {% csrf_token %}
                <label for="date">Select Number of tickets:</label>
                <input type="Number" name="tickets" id="tickets" min="10" max="50">
                <br>
                <button type="submit">Buy</button>
            </form>
        </table>

    </div>
    <br>
</div>
{% endblock content %}