{% extends 'base.html' %}

{% block title %}
    <title>Cinema Manager</title>
{% endblock title %}

{% block content %}
<div>
    <header class="w3-container w3-black w3-center " style="padding:50px 16px">
        <h1 class="w3-margin w3-jumbo">Club Representative</h1>
    </header>
    <div class="w3-section w3-bottombar w3-padding-16  ">
        <a href="{% url 'home-page' %}" class="w3-button w3-black">UWEFLIX</a>
        <a href="{% url 'select-date-cr'  %}" class="w3-button w3-white">Select Date </a>
        <a href="{% url 'view-all-transactions'   %}" class="w3-button w3-white">View transactions</a>
        <a href="{% url 'club_balance'   %}" class="w3-button w3-blue">View transactions</a>



</div>

<div class="w3-container w3-card w3-round">
    
        <table class="">
            <thead>
                <tr>
                    <th scope="col">Club Name</th>
                    <th scope="col">Address No.</th>
                    <th scope="col">Address Street</th>
                    <th scope="col">Address City</th>
                    <th scope="col">Address Postcode</th>
                    <th scope="col">Telephone No.</th>
                    <th scope="col">Phone No.</th>
                    <th scope="col">Email</th>
                    <th scope="col">Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                    <tr>
                        <th scope="row">{{ i.clubs.0.Name }}</th>
                        <th scope="row">{{ i.clubs.0.HouseNumber }}</th>
                        <td>{{ i.clubs.0.Street }}</td>
                        <td>{{ i.clubs.0.City }}</td>
                        <td>{{ i.clubs.0.PostCode }}</td>
                        <td>{{ i.clubs.0.TelephoneNumber }}</td>
                        <td>{{ i.clubs.0.PhoneNumber }}</td>
                        <td>{{ i.clubs.0.Email }}</td>
                        <td>£{{ i.clubs.0.Balance }}</td>

                       

                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <br>

    <div class="w3-center">

        <table class="">
            
            <form action="" method="get">
                {% csrf_token %}
                <label for="date">Select Month:</label>
                <select id='date' name ='date'>
                    <option selected value='2023-01'>Janaury</option>
                    <option value='2023-02'>February</option>
                    <option value='2023-03'>March</option>
                    <option value='2023-04'>April</option>
                    <option value='2023-05'>May</option>
                    <option value='2023-06'>June</option>
                    <option value='2023-07'>July</option>
                    <option value='2023-08'>August</option>
                    <option value='2023-09'>September</option>
                    <option value='2023-10'>October</option>
                    <option value='2023-11'>November</option>
                    <option value='2023-12'>December</option>
                    </select>
                <br>
                
                <a href="{% url 'select-date-cr' %}"><button type="button" class="w3-button w3-red button4">Go back</button></a>
                <input class="w3-button w3-green button4 w3-margin" type="submit" value="View">
            </form>
        </table>
        

    </div>
    <br>
</div>
{% endblock content %}