{% extends 'base.html' %}

{% block title %}
    <title>Cinema Manager</title>
{% endblock title %}

{% block content %}
<div>
    <header class="w3-container w3-black w3-center " style="padding:50px 16px">
        <h1 class="w3-margin w3-jumbo">Club Representative</h1>
    </header>
    <div class="w3-section w3-bottombar w3-padding-16  ">
        <a href="{% url 'home-page' %}" class="w3-button w3-black">UWEFLIX</a>
        <a href="{% url 'select-date-cr' %}" class="w3-button w3-black">Select Date </a>
        {% if selected_date %}
        <a href="{% url 'showings_list-cr' selected_date %}" class="w3-button w3-blue" >Showings </a>
        {% endif %}


</div>

<div class="w3-container w3-card w3-round">

    {% if data %}

    
        <table class="">
            <thead>
                <tr>
                    <th scope="col">Images</th>
                    <th scope="col">Film Name</th>
                    <th scope="col">Showing Time</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                    <tr>
                        <th scope="row">
                            <img style="height: 100px; width: auto;" src="{{ todos.name }}" class="card-img-top" alt="...">
                        </th>
                        <th scope="row">{{ i.filmTitle }}</th>
                        <td>{{ i.showingTime }}</td>

                        <td>
                            {% load custom_filters %}
                            <a class="w3-button w3-green button4" style="margin-right: 10px;" href="{% url 'view-film' i|get_id %}">Select Showing</a>
                            <br>
                        </td>

                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% elif not data %}
    <h1 class="w3-margin">There are no showings on the {{selected_date}}</h1>
    {% endif %}
    <br>

    <div class="w3-center">
        <a href="{% url 'select-date-cr' %}"><button type="button" class="w3-button w3-red button4">Go back</button></a>

    </div>
    <br>
</div>
{% endblock content %}