{% extends 'base.html' %}

{% block title %}
    <title>Cinema Manager</title>
{% endblock title %}

{% block content %}
<div>
    <header class="w3-container w3-black w3-center " style="padding:50px 16px">
        <h1 class="w3-margin w3-jumbo">Club Representative</h1>
    </header>
    <div class="w3-section w3-bottombar w3-padding-16  ">
        <a href="{% url 'home-page' %}" class="w3-button w3-black">UWEFLIX</a>
        <a href="{% url 'select-date-cr'  %}" class="w3-button w3-white">Select Date </a>
        <a href="{% url 'view-all-transactions'   %}" class="w3-button w3-blue">View transactions</a>
        <a href="{% url 'club_balance'   %}" class="w3-button w3-white">Club Balance</a>




</div>

<div class="w3-container w3-card w3-round">
    
        <table class="">
            <thead>
                <tr>
                    <th scope="col" class="w3-khaki">Booking ID</th>
                    <th scope="col" class="w3-indigo">Number Of Tickets</th>
                    <th scope="col" class="w3-blue-grey">Total Cost</th>
                    <th scope="col" class="w3-lime">Payment Method</th>
                    <th scope="col" class="w3-pale-green">Date of transaction</th>
                    <th scope="col" class="w3-sand">Showing Screen</th>
                    <th scope="col" class="w3-pale-red">Showing Date</th>
                    <th scope="col" class="w3-teal">Showing Time</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                    <tr>
                        {% load custom_filters %}
                        <th scope="row">{{ i|get_id }}</th>
                        <th scope="row">{{ i.NumberOfTickets }}</th>
                        <th scope="row">£{{ i.TotalCost }}</th>
                        <td>{{ i.PaymentMethod }}</td>
                        <td>{{ i.DateOfTransaction }}</td>
                        <td>{{ i.showings.0.Screen }}</td>
                        <td>{{ i.showings.0.date }}</td>
                        <td>{{ i.showings.0.showingTime }}</td>

                       

                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <br>

    <div class="w3-center">

        <table class="">
            
            <form action="" method="get">
                {% csrf_token %}
                <label for="date">Select Month:</label>
                <select id='date' name ='date'>
                    <option selected value='2023-01'>Janaury</option>
                    <option value='2023-02'>February</option>
                    <option value='2023-03'>March</option>
                    <option value='2023-04'>April</option>
                    <option value='2023-05'>May</option>
                    <option value='2023-06'>June</option>
                    <option value='2023-07'>July</option>
                    <option value='2023-08'>August</option>
                    <option value='2023-09'>September</option>
                    <option value='2023-10'>October</option>
                    <option value='2023-11'>November</option>
                    <option value='2023-12'>December</option>
                    </select>
                <br>
                
                <a href="{% url 'select-date-cr' %}"><button type="button" class="w3-button w3-red button4">Go back</button></a>
                <input class="w3-button w3-green button4 w3-margin" type="submit" value="View">
            </form>
        </table>
        

    </div>
    <br>
</div>
{% endblock content %}